<div ng-controller="HomeController as vm">
	<div layout layout-md="column" layout-sm="column" class="mainHome">
		<div flex>
			<h1>PROBLEMS</h1>
		</div>
		<div flex>
			<h3>
				MEET
			</h3>
		</div>
		<div flex>
			<h1>SOLUTIONS</h1>
		</div>
	</div>
	<div layout layout-sm="column" id="posts">
		<div flex>
			<md-button class="md-raised" ng-click="vm.problemModal($event)">Post problems</md-button>
		</div>
		<div flex>
			<md-button class="md-raised" ng-click="vm.solutionModal($event)">Post solutions</md-button>
		</div>
	</div>
	<div layout layout-sm="column" id="accountAccess">
		<div flex>
			<md-button class="loginBtn" ng-click="vm.registerModal($event)">REGISTER</md-button>
		</div>
		<div flex>
			<md-button class="anonBtn" ng-click="vm.anonymousRegisterModal($event)">REGISTER ANONYMOUSLY</md-button>
		</div>
	</div>

	<md-button ui-sref="Problems">view problems and solutions</md-button>
	<md-button ng-click="vm.loginModal($event)">Login to Account</md-button>
	
</div>

<!-- <label>WHAT PROBLEM WOULD THIS SOLUTION HELP?</label><md-select ng-model="vm.solution.problem"><md-option>{{vm.problems.title}}</md-option></md-select></md-input-container></md-dialog-content> -->



<!-- <md-dialog aria-label="Create a profile" ng-cloak>
<md-toolbar>
<div class="md-toolbar-tools">
	<h1>Create a profile</h1></div>
</md-toolbar>
<div>
	<form>
		<md-dialog-content style="max-width:70%;max-height:90%;">
		<md-input-container>
		<label>USERNAME</label>
		<input type="text" ng-model="vm.user.username">
	</md-input-container>
	<md-input-container>
	<label>PASSWORD</label>
	<input type="text" ng-model="vm.user.password">
</md-input-container>

<md-input-container>
<label>CONFIRM PASSWORD</label>
<input type="text">
</md-input-container>

</md-dialog-content>
<md-button class="md-raised" ng-click="vm.loginModal">POST</md-button>
</form>
</div>
</md-dialog> -->
