<h1>Problems</h1>
<div flex ng-controller="HomeController as vm">
	<div  flex layout layout-align="center" ng-repeat="p in vm.problems" id="posts">
	<md-card  flex="50">
		<md-card-content>
		<h2>{{p.title}}&nbsp;{{p.level}}</h2>
				<p>{{p.description}}</p>
		</md-card-content>
		<md-card-footer>
			Solutions:{{p.solutions}}
		</md-card-footer>
		<div>
			<md-button ng-click="vm.delete($index)">Delete</md-button>
			<span ng-controller="DetailsController as vm">
			<md-button ui-sref="ProblemDetail({probId: p._id})">See More</md-button>
			</span>
			<md-button>Edit</md-button>
		</div>
	</md-card>
	<md-card  flex="20">
		
		<md-card-content>
			<h3>RATINGS...</h3>
		</md-card-content>
		
	</md-card>
	</div>
</div>