<h1>Problems</h1>
<div ng-controller="HomeController as vm">
	<md-card ng-repeat="p in vm.problems">
		<md-card-content>
		<h2>{{p.title}}&nbsp;{{p.level}}</h2>
		<span flex></span>
				<p>{{p.description}}</p>
		</md-card-content>
		<md-card-footer>
			Solutions:{{p.solutions}}
		</md-card-footer>
		<div>
			<md-button ng-click="vm.delete($index)">Delete</md-button>
			<span ng-controller="DetailsController as vm">
			<md-button ng-click="vm.getThisProb(p._id)">See More</md-button>
			</span>
			<md-button>Edit</md-button>
		</div>
	</md-card>
</div>