<h1>SOLUTIONS</h1>
<div ng-controller="HomeController as vm">
	<div flex layout layout-align="center">
	<md-button flex="39" class="searchButt" ng-click="slideToggle=! slideToggle" value="toggle">
		search
	</md-button>
	</div>
	<div class="slide-toggle" ng-show="slideToggle">
		<input flex="60" placeholder="Search Solutions">
	</div>

	<div flex layout  ng-repeat="s in vm.solutions" layout-align="center" id="posts">
	<md-card flex="50">

		<md-card-content>
		<h2>{{s.title}}</h2>
		<p>{{s.description}}</p>
		</md-card-content>
		<md-card-footer>
		Rating:{{s.level}}
		</md-card-footer>
		
		<div>
			<span ng-controller="DetailsController as vm">
			<md-button ui-sref="SolutionDetail({solId:s._id})">See More</md-button>
			</span>
			<span flex></span>
			<md-button style="font-size:1.9em;" ng-click="vm.openMenu($mdOpenMenu, $event)">
			<i class="fa fa-caret-down"></i>
			</md-button>

			<md-button>Edit</md-button>
			<md-button ng-click="vm.deleteSolution($index)">Delete</md-button>
		</div>

	</md-card>
	<md-card flex="20">
		
		<md-card-content>
			<h1>Problems this solution can solve</h1>
			<div ng-controller="HomeController as vm">
				<i id="tags" ng-repeat="p in vm.problems">{{p.title}}</i>
			</div>
		</md-card-content>
		
	</md-card>
	</div>
</div>