<h1>SOLUTIONS</h1>
<div ng-controller="HomeController as vm">
	<div flex layout layout-align="center">
	<md-button flex="39" class="searchButt" ng-click="slideToggle=! slideToggle" value="toggle">
		search
	</md-button>
	</div>
	<div class="slide-toggle" ng-show="slideToggle">
		<input flex="60" placeholder="Search Solutions">
	</div>

	<div flex layout  ng-repeat="s in vm.solutions" layout-align="center" id="posts">
	<md-card flex="50">

		<md-card-content>
		<h2>{{s.title}}</h2>
		<i>{{s.level}}</i>
		<p>{{s.description}}</p>
		</md-card-content>
		<md-card-footer>
		Problems this can solve:{{s.problems}}
		</md-card-footer>
		<div>
		<md-button ng-click="vm.deleteSolution($index)">Delete</md-button>
			<span ng-controller="DetailsController as vm">
			<md-button ui-sref="SolutionDetail({solId:s._id})">See More</md-button>
			</span>
			<md-button>Edit</md-button>
		</div>

	</md-card>
	<md-card flex="20">
		
		<md-card-content>
			<h3>RATINGS...</h3>
		</md-card-content>
		
	</md-card>
	</div>
</div>