<h1>Solutions</h1>
<div ng-controller="HomeController as vm">
	<md-card ng-repeat="s in vm.solutions">
		<md-card-content>
		<div>
		<h2>{{s.title}}&nbsp;{{s.level}}</h2>
		<span flex></span>
				<md-button ng-click="vm.delete($index)">X</md-button>
				<md-button>Edit</md-button>
				</div>
	<p>{{s.description}}</p>
	</md-card-content>
	<md-card-footer>
		Problems this can solve:{{s.problems}}
	</md-card-footer>
	<div>
		<md-button ng-click="vm.deleteSolution($index)">Delete</md-button>
			<span ng-controller="DetailsController as vm">
			<md-button ng-click="vm.getThisSolution(s._id)">See More</md-button>
			</span>
			<md-button>Edit</md-button>
	</div>
	</md-card>
</div>