<md-dialog  aria-label="What is a problem you think should be solved?"  ng-cloak>
<md-toolbar>
<div  class="md-toolbar-tools">
	<h1>What is a problem you think should be solved?</h1>
</div>
</md-toolbar>
<div>
	<form ng-submit="vm.createProblem()">
		<md-dialog-content style="max-width:70%;max-height:90%;">
		<md-input-container>
		<label>
			TITLE OF PROBLEM
		</label><input type="text" ng-model="vm.problem.title">
	</md-input-container>
	<md-input-container>
	<label>
		DESCRIPTION
	</label>
	<input type="text" ng-model="vm.problem.description">
	</md-input-container>
	<label>
	FROM 1 to 10 HOW SERIOUS IS THIS PROBLEM?
	</label>
	<div>
	<md-slider id="numberSlider" flex min="0" max="10" type="number" ng-model="vm.problem.severity" aria-label="red" aria-controls="red-slider"></md-slider>
	 <input flex="10" type="number" ng-model="vm.problem.severity" aria-label="red" aria-controls="red-slider">
	 </div>
	</div>
	<md-input-container>
		<label>
			WHAT CATEGORY DOES YOUR PROBLEM FIT INTO?
		</label>
<md-select ng-model="vm.problem.category">
<md-option>BUSINESS</md-option>
<md-option>EDUCATIONAL</md-option>
<md-option>EMOTIONAL</md-option>
<md-option>FINANCIAL</md-option>
<md-option>SOCIAL</md-option>
<md-option>TECHNOLOGICAL</md-option>
</md-select>
</md-input-container>
</md-dialog-content>
<md-button class="md-raised md-primary" ng-click="vm.createProblem()">POST</md-button>
</md-dialog>