<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>probSolve</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
</head>
<body  ng-controller="GlobalController as gm">


	<div layout layout-sm="column" id="accountAccess">
		
	</div>
	<md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <h3>
      <md-button class="md-button md-button-ripple homeButton" ui-sref="Home">PS {{gm.userLoggedIn.name}}</md-button>
      </h3>
      <span flex></span>
      <div layout layout-sm="column">
			<md-button ng-click="gm.loginModal($event)" ng-hide="_user.id">Login</md-button>
			<md-button ng-click="gm.logout()" ng-show="_user.id">Logout</md-button>
			<md-button href="api/user/auth/facebook" ng-hide="_user.id">Facebook Login</md-button>
			<md-button class="loginBtn" ng-show="!_user.id" ng-click="gm.registerModal($event)">REGISTER</md-button>
			<md-button class="md-button md-button-ripple homeButton" ng-show="_user.id" ui-sref="Profile">YOUR PROFILE</md-button>
		</div>
		
		<!-- <div flex>
			<md-button class="anonBtn" ng-click="gm.anonymousRegisterModal($event)">REGISTER ANONYMOUSLY</md-button>
		</div> -->
    </div>
  </md-toolbar>

	<ui-view></ui-view>
	<!-- Ext Libs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="angular-material/angular-material.js"></script>
	<script src="angular-animate/angular-animate.js"></script>
	<script src="angular-aria/angular-aria.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/services/ProblemFactory.js"></script>
	<script src="/javascript/services/SolutionFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/DetailsController.js"></script>
	<script src="/javascript/controllers/ProfileController.js"></script>
	<script src="/javascript/controllers/ModalFunctionsController.js"></script>
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
</body>
</html>