<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>probSolve</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<div layout layout-sm="column" id="accountAccess" ng-controller="GlobalController as gm">
		<div flex>
			<md-button ng-click="gm.loginModal($event)" ng-hide="$rootScope._user">Login</md-button>
		</div>
		<div flex>
			<md-button href="api/user/auth/facebook" ng-hide="$rootScope._user">Facebook Login</md-button>
		</div>
		<!-- <div flex>
			<md-button ng-hide="$rootScope._user">LinkedIn Login</md-button>
		</div> -->
		<div flex>
			<md-button class="loginBtn" ng-click="gm.registerModal($event)">REGISTER</md-button>
		</div>
		<div flex>
			<md-button class="md-button md-button-ripple homeButton" ui-sref="Home"><i class="fa fa-home"></i></md-button>
		</div>
		<div flex>
			<md-button class="md-button md-button-ripple homeButton" ui-sref="Profile"><i class="fa fa-user"></i></md-button>
		</div>
		

		<div flex>
			<md-button class="anonBtn" ng-click="gm.anonymousRegisterModal($event)">REGISTER ANONYMOUSLY</md-button>
		</div>
		
	</div>

	<ui-view></ui-view>
	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="angular-material/angular-material.js"></script>
	<script src="angular-animate/angular-animate.js"></script>
	<script src="angular-aria/angular-aria.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/services/ProblemFactory.js"></script>
	<script src="/javascript/services/SolutionFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/DetailsController.js"></script>
	<script src="/javascript/controllers/ProfileController.js"></script>
	<script src="/javascript/controllers/ModalFunctionsController.js"></script>
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
</body>
</html>