body, html {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	background: #FC354C; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #0ABFBC, #FC354C); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}

.mainHome {
	padding-top: 13%;
	padding-bottom: 13%;
}

/*=================MAIN BUTTONS============================*/
#posts .md-raised {
	font-weight: bold;
	padding: 1em;
}


/*=================LOGIN STUFF============================*/

#accountAccess {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.anonBtn, .loginBtn {
	border: thin solid black;
	color: black;
}

