body, html {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	background: #FC354C; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #0ABFBC, #FC354C); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}

input {
	border-radius: 9px;
	padding: 9px;
	border: thin solid black;
	color: black;
	background-color: transparent;
}

.mainHome {
	padding-top: 17%;
	padding-bottom: 17%;
}

/*=================MAIN BUTTONS============================*/
#posts .md-raised, #posts md-card {
	padding: 1em;
	background-color: rgba(0,0,0, .6);
	color: white;
}

.md-button.md-primary.md-raised {
	background-color: black;
}
/*=================LOGIN STUFF============================*/
/*

.anonBtn, .loginBtn {
	border: thin solid black;
	color: black;
}*/

/*=================NAV============================*/

.md-toolbar-tools {
	background-color: black;
	color: white;
}

md-dialog md-input-container, #numberSlider{
	margin: 19px;
}

/*==================SLIDE TOGGLE===================*/
.slide-toggle {
  overflow: hidden;
  transition: all 1.5s; 
}

.searchButt {
	color: white;
}

